body{
	margin:0;
	font-family: 'Karla', sans-serif;
}


.contenedor{
    width: 100%;
	position: relative;
}

.nav-one{
	display: flex;
	height: 45px;
	background-color: #b76e79;
	padding-left: 15px;
	padding-right: 15px;
	justify-content: space-between;
	align-items: center;
}

.nav-one a{
   color: white;
   text-decoration: none;
}

.opening {
	margin-left:10px;
}

.hours{
	margin-left: 40px;
}

.fab{
	margin: 0px 5px 0px 5px;
	font-size: 20px;
}

.nav{
	background-color: white;
	padding-left: 15px;
	padding-right: 15px;
}

.nav ul {
	display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    justify-content: space-around;
    margin-bottom: -10px;
    flex-flow: row wrap;
}

.nav li {
	
}

.nav li a{
	text-decoration: none;
	color: grey;
	font-family: 'Montserrat';
	font-weight: 600;
}

.nav li img{
	width: 85px;
	margin-top: 10px;
}

.cover{
	background-size: cover;
	background-image: url('../img/1.png');
	height: 468px;
}

.preview{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 20px 25px 20px 30px;
}

.preview h1{
	font-family: 'Fjalla One', sans-serif;
	font-size: 60px;
}

.preview p{
	font-family: 'Lato', sans-serif;
	margin-top: -10px;
	color: grey;
	font-size: 17px;
    text-align: justify;
}

.cover-button{
	display: flex;
	margin-top: 15px;
}

.cover button{
	color: black;
	background-color: transparent;
	border: 2px solid #af728d;
	border-radius: 25px;
	width: 200px;
	padding: 15px;
	font-weight: 700;
}

.about{
	background-color: white;	
	height: auto;
	display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.column1 {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 20px 25px 20px 30px;
}

.about1 {
	display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.about1 img{
   width: 340px;
   height: 335px;
   box-shadow: 0 0 10px 5px #9E9E9E;
}

.about2 {
	margin-top: -90px;
}

.about2 img{
	width: 340px;
	height: 335px;
	box-shadow: 0 0 10px 5px #9E9E9E;
}

.column2 {
	display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px 25px 20px 30px;
}

.column2 h1{
	font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
    line-height: 2;
}

.column2 h1:after{
	content:"";
	width: 100px;
	height: 4px;
	background: #b76e79;
	display: flex;
}

.column2 .p1{
	font-family: 'Lato', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
}

.column2 .p2 {
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px
	font-size:15px;
	color: grey;
}

.squedule {
	display: flex;
	flex-direction: row;
}

.hour{
	margin-top: 15px;
	display: flex;
	flex-direction: column;
}

.s-title{
	flex-direction: row;
    display: flex;
    align-items: center;
}

.s-title p{
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.hour ul{
	list-style: none;
}

.hour li {
	color: grey;
}
.fa-clock{
	font-size: 25px;
	color: #b76e79;
}

.location {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-top: 15px;
}

.location ul{
	list-style: none;
}

.location li{
	color: grey;
}

.services{
	background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    height: auto;
}

.services-t{
	margin: 20px 25px 20px 30px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.services-t h1{
	font-size: 60px;
	font-family: 'Fjalla One', sans-serif;
	margin-bottom: 4px;
}

.services-t h1:after{
	content: "";
	width: 210px;
	height: 4px;
	background: #b76e79;
	display: flex;
}

.services-t p{
	font-family: 'Lato', sans-serif;
	color: grey;
	margin-bottom: 40px;
}

.division{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 25px 20px 30px;
    padding: 30px;
}

.division .right{
	display: flex;
	flex-direction: column;
	width: 50%;
}

.right .haircut{
	display: flex;
	flex-direction: row;
}


.fa-cut{
	display:flex;
	justify-content: center;
	align-items: center;
	width: 85px;
    height: 85px;
    font-size: 60px;
    background-color: #b76e79;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 6px 2px #9E9E9E;
}

.fa-cut:before{
	position: absolute;
	top: 11px;
	left: 17px;
}

.fa-cut:hover{
    background-color: white;
    transform: rotate(360deg);
    transition: 0.5s;
}

.haircut p{
	margin-left: 15px;
	color: grey;
	font-family: 'Lato', sans-serif;
}

.right:after{
	content: "";
	width: 1px;
	height: 238px;
	background: #b76e79;
	position: absolute;
    right: 50%;
}

.right h2{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    margin-top: 5px;
}

.right .highlights{
	display: flex;
	flex-direction: row;
	margin-top: 15px;
}

.highlights img{
	width: 65px;
	padding: 10px;
	background-color: #b76e79;
	border-radius: 50%;
	box-shadow: 0 0 6px 2px #9E9E9E;
}

.highlights p{
	margin-left: 15px;
    color: grey;
    font-family: 'Lato', sans-serif;
}

.division .left{
	display: flex;
	flex-direction: column;
	width: 50%;
}

.left .coloring{
	display: flex;
	flex-direction: row;
		margin-left: 15px;
}

.coloring img{
	width: 63px;
	padding: 10px;
	background-color: #b76e79;
	border-radius: 50%;
	box-shadow: 0 0 6px 2px #9E9E9E; 
}

.coloring p{
	margin-left: 15px;
    color: grey;
    font-family: 'Lato', sans-serif;
}

.left h2{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    margin-top: 7px;
}

.left .makeup{
	display: flex;
	flex-direction: row;
	margin-left: 15px;
}

.makeup img{
	width: 63px;
	padding: 10px;
	background-color: #b76e79;
	border-radius: 50%;
	box-shadow: 0 0 6px 2px #9E9E9E; 
}

.makeup p{
	margin-left: 15px;
    color: grey;
    font-family: 'Lato', sans-serif;
}

.gallery{
	display: flex;
	flex-direction: column;
	height: auto;
	background-color: white;
	margin-bottom: 40px;
}

.gallery-t{
	margin: 20px 25px 20px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.gallery-t h1{
	font-size: 60px;
	font-family: 'Fjalla One', sans-serif;
	margin-bottom: 4px;
}

.gallery-t h1:after{
	content: "";
	display: flex;
	width: 185px;
	height: 4px;
	background: #b76e79;
}

.gallery-t p{
	color: grey;
	font-family: 'Lato', sans-serif;
}

.galeria {
	margin: .5vw;
	font-size: 0;
	display: -ms-flexbox;
	-ms-flexbox-wrap: wrap;
	-ms-flexbox-direction: column;
    -webkit-flex-flow: row-wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
}

.galeria .foto{
	-webkit-box-flex: auto;
	-ms-flex: auto;
	flex: auto;
	width: 200px;
	margin: .5vw;
}

.foto img {
	width: 100%;
	height: auto;
	filter: grayscale(0);
}

.foto img:hover {
	filter: grayscale(100%);
	transition: 0.5s;
	transform: scale(1.1);
}

.contact {
	max-width: 1200px;
	display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
    margin-right: 35px;
    padding-bottom: 30px;
}

.contact .columnc h2 {
	font-size: 60px;
    font-family: 'Fjalla One', sans-serif;
    padding-top: 20px;
}

.contact .columnc h2:after {
	content: "";
	height: 4px;
	width: 200px;
	background: #b76e79;
	display: flex;
}

.columnc {
	width: 800px;
}

.columnc p {
	color: grey;
}

.formulario {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.formulario .uno {
	display: flex;
    width: 50%;
    flex-wrap: wrap;
    flex-direction: column;
}

.formulario .dos {
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}

.formulario .form-left {
	margin-right: 40px;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    color: grey;
    border: 2px solid #b76e79;
}

.formulario .form-right {
	padding: 10px;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    color: grey;
    border: 2px solid #b76e79;
}

.campo {
	width: 100%;
}

.campo textarea {

	width: 97%;
	border-radius: 30px;
	border: 2px solid #b76e79;
	font-size: 15px;
	font-weight: 500;
	font-family: Arial;
	color: grey;
	padding-left: 19px;
    padding-top: 10px;
}

.formulario button {
	margin-top: 20px;
}

.btn-contact {
	padding: 13px;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    width: 25%;
    background: #b76e79;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
}

.columnc2 {
	margin-left: 30px;
}

.columnc2 h2 {
	padding-top: 20px;
    margin-top: 60px;
    font-family: 'Fjalla One', sans-serif;
}

.columnc2 p {
	color: grey;
	\font-size: 15px;
}

.columnc2 .fas {
	color: #b76e79;
}

.columnc2 .fab {
	color: #b76e79;
}

.line-i a {
	text-decoration: none;
	color: grey;
	font-size: 17px;
}

.line:after {
	display: flex;
	content: "";
	height: 2px;
	width: 100%;
	background: grey;
}

.line-i:after {
	display: flex;
	content: "";
	height: 2px;
	width: 100%;
	background: grey;
	margin-top: 10px;
}
